@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --logo-height: 5rem;
  --header-height: 5.5rem;

  --color-extra-light: #FFFBEA;
  --color-light: rgb(159, 221, 206);
  --color-medium: rgba(39, 145, 145);
}