@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

:root {
  --logo-height: 5rem;
  --header-height: 5.5rem;

  --color-extra-light: #FFFBEA;
  --color-light: rgb(159, 221, 206);
  --color-medium: rgba(39, 145, 145);
}

.site__main {
  margin-top: var(--header-height);
  max-height: calc(100vh - var(--header-height));
}
@media screen and (min-width: 400px) {
  .site__main {
    max-height: calc(100vh - 2 * var(--header-height));
  }
}

.material-symbols-outlined {
  color: var(--color-extra-light);
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
}