.site__header {
  background: var(--color-light);

  height: var(--header-height);
  width: 100%;

  text-align: center;
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.site__footer {
  background: var(--color-light);

  height: var(--header-height);
  width: 100%;

  position: fixed;
  bottom: 0;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 400px) {
  .site__footer{
    display: none;
  }
}

.header--flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__logo {
  height: var(--logo-height);
}

.header__account_icons {
  font-size: 3rem;
}

.header__button {
  background-color: var(--color-medium);
  color: var(--color-extra-light);
  
  border-radius: 100%;

  margin-left: 25%;
  display: inline;
}
