.site__header, .site__footer {
  background: var(--color-light);

  height: var(--header-height);
  width: 100%;

  position: fixed;
}

.site__header {
  top: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  border-bottom: 1px solid var(--color-dark);
}

.site__footer {
  bottom: 0;
  border-top: 1px solid var(--color-dark);
  display: none;
}
@media screen and (min-width: 400px) {
  .site__footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

.header--flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__logo {
  height: var(--logo-height);
}

.header__account_icons {
  font-size: 3rem;
  cursor: pointer;
}

.header__button {
  background-color: var(--color-medium);
  color: var(--color-extra-light);
  
  border-radius: 100%;

  margin-left: 25%;
  display: inline;
}
