.eventCard {
    width: 50%;
    margin-top: 0.5rem;
    height: 5.625rem;
    height: 7rem;
    width: 19.375rem;
    background-color: rgba(17, 17, 17, 0.8);
    border-radius: 1rem;
    align-items: center;
    color: #DEDAE0;
    padding: 0.6rem;
    padding-right: 20%;
    background-image:linear-gradient(to right, rgb(28, 28, 28),  rgba(128, 128, 128, 0)), url('../assets/partyimage.png');
    background-repeat: none;
    background-size: 100%;
    filter: drop-shadow(2px 2px 10px rgba(255, 255, 255, 0.20));
}

.eventCard__card {
    padding: 0.5rem 0.2rem 0.5rem 0.5rem;
    margin: 0rem 0 0 0.5rem;
    border-radius: 0.5rem;
}

.eventCard__title {
    font-size: 1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: 0.2rem;
}

.eventCard__desc {
    font-size: 0.75rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
}

.eventCard__date {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
    margin-bottom: 0.5rem;
}

.eventCard__list {
    list-style: none;
}


