.eventCard {
    width: 50%;
    margin-top: 0.5rem;
    height: 5.625rem;
    height: 7rem;
    width: 19.375rem;
    background-color: rgba(17, 17, 17, 0.8);
    border-radius: 1rem;
    align-items: center;
    color: #DEDAE0;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 1rem;
    padding-left: 20%;
}

.eventCard__title {
    font-size: 1rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
}

.eventCard__desc {
    font-size: 0.75rem;
}