.list {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    padding-top: 7rem;
    padding: 7rem 2rem;
    width: 100vw;
    gap: 1rem;
}

.list_eventLink {
    margin: 0.8rem;
    padding: 0.01rem;
    position: fixed;
    bottom: 0;
    right: 0;
    color: #FFFBEA;
}

.plus-icon {
    font-size: 5rem;
}

.list--profile {
    flex-direction: row;
    overflow-x: scroll;
    padding: 0 1rem;
}

.list--profile .eventCard {
    box-shadow: none;
    width: 300px;
    min-width: 300px;
}

@media screen and (min-width: 500px) {
    .list {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: 2rem;
        max-width: 800px;
    }
}

@media screen and (min-width: 1000px) {
    .list {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

